@import url('https://fonts.googleapis.com/css?family=Arimo|Titillium+Web');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Arimo', sans-serif;
}

.sorts {
    margin: 5% auto 20px auto;
    width: 70%;
    text-align: center;
}

.sorts__buttons {
    width: 20%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorts__button {
    width: 60px;
    font-size: 30px;
    background: rgba(167, 8, 29, 0);
    border: none;
    cursor: pointer;

}

.sort__description {
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
    text-shadow: 2px 2px #b7b7b7;
}

.cards {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.col {
    flex-direction: column;
    align-items: center;
}

.card {
    width: 300px;
    margin: 10px;
    cursor: pointer;
    height: 450px;
    perspective: 1000px;
    background-color: transparent;
}
.flipper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.rotate {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    z-index: 2;
    border: 2px solid gray;
    box-shadow: 5px 4px 13px -2px rgba(0, 0, 0, 0.75);
}
.front .name{
    color: #585858;
    text-align: center;
    line-height: 450px;
}
.back {
    border: 2px solid gray;
    transform: rotateY(180deg);
    z-index: 1;
    box-shadow: 5px 4px 13px -2px rgba(0, 0, 0, 0.75);
}
.card__img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.card__img img {
    width: 100%;
    height: 100%;
}

.card__description {
    padding: 5px;
}

.card__description p {
    padding: 5px;
    color: #585858;
    text-transform: uppercase;
    font-size: 14px;
}

.filters {
    text-align: center;
    margin-bottom: 10px;
}

.filters__ingredient {
    display: none;
    justify-content: center;
}

.input_search {
    border-radius: 5px;
    border: 2px solid #484848;
    width: 200px;
    padding: 5px;
}

#ingredient {
    margin: 5px;
}

.button__search {
    background: rgba(72, 72, 72, 0);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.filters__column {
    display: none;
    flex-direction: row;
    justify-content: center;
}

.filters__column div {
    margin: 10px;
}

.group-buttons {
    display: flex;
    flex-direction: column;
}

.filters__price, .filters__name {
    display: flex;
    align-items: center;
}

.remove{
    font-size: 18px;
    margin-left: 5px;
}