@import url('https://fonts.googleapis.com/css?family=Arimo|Titillium+Web');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Arimo', sans-serif;
}

.sorts {
    margin: 5% auto 20px auto;
    width: 70%;
    text-align: center;
}

.sorts__buttons {
    width: 20%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorts__button {
    width: 60px;
    font-size: 30px;
    background: rgba(167, 8, 29, 0);
    border: none;
    cursor: pointer;

}

.sort__description, .add-card__description, .basket-page__description {
    text-transform: uppercase;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
    text-shadow: 2px 2px #b7b7b7;
}

.cards {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.col {
    flex-direction: column;
    align-items: center;
}

.card {
    width: 300px;
    margin: 10px;
    cursor: pointer;
    height: 450px;
    perspective: 1000px;
    background-color: transparent;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.rotate {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    border: 2px solid gray;
    box-shadow: 5px 4px 13px -2px rgba(0, 0, 0, 0.75);
}

.front .name {
    color: #585858;
    text-align: center;
    line-height: 450px;
}

.selected-card .front .name {
    line-height: 1
}

.back {
    border: 2px solid gray;
    transform: rotateY(180deg);
    z-index: 1;
    box-shadow: 5px 4px 13px -2px rgba(0, 0, 0, 0.75);
}

.card__img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.card__img img {
    width: 100%;
    height: 100%;
}

.card__description {
    padding: 5px;
}

.card__description p {
    padding: 5px;
    color: #585858;
    text-transform: uppercase;
    font-size: 14px;
}

.filters {
    text-align: center;
    margin-bottom: 10px;
}

.filters__ingredient {
    display: none;
    justify-content: center;
}

.input_search, .name-custom-pizza {
    border-radius: 5px;
    border: 2px solid #484848;
    width: 200px;
    padding: 5px;
}

#ingredient {
    margin: 5px;
}

.button__search {
    background: rgba(72, 72, 72, 0);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.filters__column {
    display: none;
    flex-direction: row;
    justify-content: center;
}

.filters__column div {
    margin: 10px;
}

.group-buttons {
    display: flex;
    flex-direction: column;
}

.filters__price, .filters__name {
    display: flex;
    align-items: center;
}

.remove {
    font-size: 18px;
    margin-left: 5px;
}

.add-card {
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#add-card__button {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    background: rgba(72, 72, 72, 0);
    border: 2px solid #525252;
    padding: 3px;
    width: 40px;
    color: #404040;
    border-radius: 20px;
    cursor: pointer;
}
#add-card__button:hover{
    background: #525252;
    color: white;
}
#create-name-pizza {
    font-size: 20px;
    color: #404040;
    background: rgba(82, 82, 82, 0);
    border: 2px solid #282828;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
#create-name-pizza:hover{
    background: #404040;
    color: white;
}
.ingredients {
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
}


.submit-ingredients:hover,.ordering-pizza:hover,.sendOrder:hover{
    background: gray;
    color: white;
    cursor: pointer;
}

.ordering-pizza, .submit-ingredients{
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 16px;
    padding: 3px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
    border: 2px solid gray;
    color: #545454;
}

#basket-icon{
    position: inherit;
    font-size: 40px;
    background: rgba(84,84,84,0);
    border: none;
    cursor: pointer;
}

.basket-page{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
#button__main-page{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.remove-pizza{
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #636363;
    font-size: 14px;
    cursor: pointer;
}

.selected__cards{
    display: flex;
    flex-flow: wrap;
    margin-top: 50px;
    justify-content: center;
}

.sum-order{
    margin-top: 10px;
    text-transform: uppercase;
    color: #565656;
}

.basket{
    position: absolute;
    top: 20px;
    right: 100px;
}

.count-orders{
    width: 15px;
    height: 15px;
    background: #a7081d;
    border-radius: 7px;
    position: inherit;
    color: white;
    text-align: center;
}
.sendOrder{
    margin: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: gray;
    background: none;
    border: 2px solid gray;
    padding: 5px;
    cursor: pointer;
}
